{% extends "layout.html" %}
{% set body_class = "index" %}

{% block content %}
<ul class="action-list">
    <li><a href="{{ url_for('books_new') }}">Dodaj książkę</a></li>
</ul>

{% if books %}
<ul class="index-list">
    {% for book in books %}
    <li>
        <h3><a href="{{ url_for('books_show', id=book['id']) }}">{{ book['title'] }}</a></h3>
        <p>{{ book['author'] }}</p>
        <ul class="action-list">
            <li><a href="{{ url_for('books_show', id=book['id']) }}">Podgląd</a></li>
            <li><a href="{{ url_for('books_edit', id=book['id']) }}">Edytuj</a></li>
            <li>
                <form action="{{ url_for('books_delete', id=book['id']) }}" method="post" style="display:inline">
                    <button type="submit" onclick="return confirm('Usunąć?')" style="background:none;border:none;cursor:pointer;font-family:inherit;font-size:inherit;color:#484848;padding:0;">Usuń</button>
                </form>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Brak książek w bazie.</p>
{% endif %}
{% endblock %}
